<html>
  {% extends "layout.html" %}
  {% block content %}
  <body>
    <div class="container">
      <div class="row">
        <form method="POST">
          <p>Wanna know what's in a thread? Just Ask Jeeves!</p>
          <p>
            Thread URL:
            <br>
            <input type="url" name="thread_url" placeholder="URL" value="{{ form_data['thread_url'] }}">
          </p>
          <p><input type="submit" class="btn btn-success" value="Submit"></p>
        </form>
      </div><!--row-->
    </div><!--container-->
  </body>
  {% include "copy_content.html" %}
  {% block copy_content %}{% endblock %}
  {% endblock %}
</html>
