<html>
  <head>
    <link href='https://files.jcink.net/uploads/pokemonaudemus/Utility/PCBoxStylesheet.css' rel='stylesheet' type='text/css'>
  </head>
  <table class="pccontainer">
    <tr>
      <td>
        <table class="pctable">
          <tr>
            <th class="pcname" colspan="2">
              <input type="text" name="name", placeholder="name", value="{{ name }}">
              - <span class="gender">{{ gender }}</span>
              - {{ specie }}
            </th>
          </tr>
          <tr>
            <td class="pciconbox" rowspan="4">
             <div class="pcicondiv">
               <img style="margin-left:0px;" src="https://files.jcink.net/uploads/pokemonaudemus/pokemon/{{ specie }}.gif">
             </div>
             <div class="pcball">
               <img src="https://files.jcink.net/uploads/pokemonaudemus/Shop_Items/{{ ball_name }}.png" title="{{ ball_name }}">
             </div>
             <div class="pcitem-on">
               <img src="https://files.jcink.net/uploads/pokemonaudemus/Shop_Items/{{ item_name }}.png" title="{{ item_name }}">
             </div>
            </td>
            <td class="pccell">{{ specie_type }}</td>
          </tr>
          <tr>
            <td class="pccell">{{ level }}</td>
          </tr>
          <tr>
            <td class="pccell">{{ bond }}</td>
          </tr>
          <tr>
            <td class="pccell">{{ ability_name }}</td>
          </tr>
          <tr>
            <td class="pcmove1 {{ move_type }}"><a href="https://bulbapedia.bulbagarden.net/wiki/{{ move_name }}_(move)">{{ move_name }}</a></td>
            <td class="pcmove2 {{ move_type }}"><a href="https://bulbapedia.bulbagarden.net/wiki/{{ move_name }}_(move)">{{ move_name }}</a></td>
          </tr>
          <tr>
            <td class="pcmove3 {{ move_type }}"><a href="https://bulbapedia.bulbagarden.net/wiki/{{ move_name }}_(move)">{{ move_name }}</a></td>
            <td class="pcmove4 {{ move_type }}"><a href="https://bulbapedia.bulbagarden.net/wiki/{{ move_name }}_(move)">{{ move_name }}</a></td>
          </tr>
          <tr>
            <td class="pcmove5 {{ move_type }}"><a href="https://bulbapedia.bulbagarden.net/wiki/{{ move_name }}_(move)">{{ move_name }}</a></td>
            <td class="pcmove6 {{ move_type }}"><a href="https://bulbapedia.bulbagarden.net/wiki/{{ move_name }}_(move)">{{ move_name }}</a></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="pcdesc">
                {{ description }}
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <input type="submit" class="btn btn-success" value="Submit">
</html>