<html>
  <head>
    <link href='https://files.jcink.net/uploads/pokemonaudemus/Utility/PCBoxStylesheet.css' rel='stylesheet' type='text/css'>
  </head>
  <table class="pccontainer">
    {% for no in range(n_pcs) %}
      {% if no % 2 == 0 %}
        <tr>
      {% endif %}
    <td>
      <table class="pctable">
        <tr>
          <th class="pcname" colspan="2">
            {{ form_data[no]['specie'].output }}
            - <span class="gender">{{ form_data[no]['gender']._input }}</span>
            - {{ form_data[no]['name'].output }}
          </th>
        </tr>
        <tr>
          <td class="pciconbox" rowspan="4">
            <div class="pcicondiv">
              <img style="margin-left:0px;" src="{{ form_data[no]['specie'].link_output }}">
            </div>
            <div class="pcball">
              <img src="{{ form_data[no]['ball'].link_output }}" title="{{ form_data[no]['ball']._input }}">
            </div>
            {% if form_data[no]['item']._input == 'Item' %}
              <div class="pcitem-off">
            {% else %}
              <div class="pcitem-on">
            {% endif %}
            <img src="{{ form_data[no]['item'].link_output }}" title="{{ form_data[no]['item']._input }}">
            </div>
          </td>
          <td class="pccell">{{  form_data[no]['specie'].specie_type }}</td>
        </tr>
        <tr>
          <td class="pccell">{{ form_data[no]['level'].output }}</td>
        </tr>
        <tr>
          <td class="pccell">{{ form_data[no]['bond'].output }}</td>
        </tr>
        <tr>
          <td class="pccell">
            <a href="{{ form_data[no]['ability'].link_output }}" style="color:#000">
              {{ form_data[no]['ability'].output }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="pcmove1" style="background-color:{{ form_data[no]['moves'][1].move_type.bkg_output }}">
            <a href="{{ form_data[no]['moves'][1].link_output }}" style="color:#000">
              {{ form_data[no]['moves'][1].output }}
            </a>
          </td>
          <td class="pcmove2" style="background-color:{{ form_data[no]['moves'][2].move_type.bkg_output }}">
            <a href="{{ form_data[no]['moves'][2].link_output }}" style="color:#000">
              {{ form_data[no]['moves'][2].output }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="pcmove3" style="background-color:{{ form_data[no]['moves'][3].move_type.bkg_output }}">
            <a href="{{ form_data[no]['moves'][3].link_output }}" style="color:#000">
              {{ form_data[no]['moves'][3].output }}
            </a>
          </td>
          <td class="pcmove4" style="background-color:{{ form_data[no]['moves'][4].move_type.bkg_output }}">
            <a href="{{ form_data[no]['moves'][4].link_output }}" style="color:#000">
              {{ form_data[no]['moves'][4].output }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="pcmove5" style="background-color:{{ form_data[no]['moves'][5].move_type.bkg_output }}">
            <a href="{{ form_data[no]['moves'][5].link_output }}" style="color:#000">
              {{ form_data[no]['moves'][5].output }}
            </a>
          </td>
          <td class="pcmove6" style="background-color:{{ form_data[no]['moves'][6].move_type.bkg_output }}">
            <a href="{{ form_data[no]['moves'][6].link_output }}" style="color:#000">
              {{ form_data[no]['moves'][6].output }}
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="pcdesc">
              {{ form_data[no]['description'] }}
            </div>
          </td>
        </tr>
      </table>
    </td>
    {% if no+1 % 2 == 0 or no == n_pcs %}
      </tr>
    {% endif %}
    {% endfor %}
  </table>
</html>